#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
  overflow-y:auto;
}

.app-container {
  position: fixed;
  top: 20vh;
}

.main-info {
  font-size: 5vh;
}

.input-field {
  border-radius: 2px;
  border: none;
  height: 3vh;
  width: 35vh;
  padding: 5px;
  padding-left: 10px;
}

.table-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  max-height: 50vh;
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: bold;
  overflow-y:scroll;
}

.data-table {
  animation: fadeIn 1s;
}

th {
  border: 2px solid black;
}

td {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

.left {
  width: 10vh;
}

.right {
  width: 40vw;
}

tr {
  font-size: 2vh;
  height: 60px;
  user-select: none;

}

.data-row:hover {
  filter: brightness(1.5);
  background-color: rgb(32, 32, 32);
}

.top-row {
  background-color: rgb(27, 27, 27);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: right;
  position: absolute;
  display: block;
  right:0;
  left:auto;
}

.dropdown-buttons {
  margin-top: 2px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #383838 #181818;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #181818;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }